.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.28px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #fff;
  }
}

.btn-accent {
  background-color: #027EFD;

  &:not(:disabled) {
    &:hover {
      background-color: #0271E4;
    }

    &:active {
      background-color: #0265CA;
    }
  }
}

.btn-size-md {
  min-height: 40px;
  padding: 7px 20px;
}
