header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  font-size: 0;
  text-align: center;
  padding: 15px 0;
  background-color: #3F51B5;

  .logo {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.1px;
  }

  .img-wrapper {
    width: 30px;
    margin-right: 10px;
  }
}
